* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #302E2B;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #f0d9b5;
  font-family: sans-serif;
}
